body {
  margin: 0;
  padding: 0;
  background-color: #0d1117; /* Dark background */
  font-family: 'Inter', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  background-color: #161b22; /* Darker background for form */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Styling for login header */
.login-header {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 2rem; /* Adjust font size */
  font-weight: 600;

  color: #58a6ff; /* GitHub blue for headings */
  letter-spacing: 1px; /* Adds slight space between letters for a more polished look */
}

/* Input Fields Styling */
.text-field {
  margin-bottom: 16px; /* Add margin between input fields */
  background-color: #21262d; /* Darker background for inputs */
  color: #c9d1d9; /* Text color */
}

.text-field .MuiOutlinedInput-root {
  background-color: #ffffff56; /* Dark background for input fields */
  border-radius: 4px;
}

.text-field input {
  color: #c9d1d9; /* Text color for input */
}

/* Button Styling */
.login-button {
  margin-top: 24px;
  width: 100%;
  font-weight: bold;
  background-color: #58a6ff; /* GitHub blue for button */
  color: #ffffff; /* White text color */
  border-radius: 4px; /* Rounded corners */
  padding: 12px;
}

.login-button:hover {
  background-color: #4c8cc4; /* Lighter blue on hover */
}

/* Register Link Styling */
.register-link {
  text-align: center;
  margin-top: 16px;
}

.register-link a {
  color: #58a6ff; /* GitHub blue for link */
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
