.tablePage-container {
  width: 65%;
  margin: 80px auto;
  padding: 10px;
  position: relative;
  top: 10px;

  font-family: 'Inter', sans-serif;
}

.tablePage-container::before {
  content: 'All Economic Events - This Week';
  font-size: 24px;
  font-weight: 600;
  color: #58a6ff;
  display: block;
  margin-bottom: 20px;
  border-bottom: 2px solid #58a6ff;
  padding-bottom: 10px;
}

.dataPage-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px; /* Reduced font size for compactness */
  background-color: #0d1117;
  color: #c9d1d9;
}

.dataPage-table th,
.dataPage-table td {
  padding: 4px 6px; /* Reduced padding for vertical compactness */
  border: 1px solid #30363d;
  text-align: center;
  vertical-align: middle;
}

.dataPage-table th {
  background-color: #161b22;
  color: #c9d1d9;
}

tbody tr:hover {
  background-color: rgba(88, 166, 255, 0.2);
}

.dataPage-table td:hover {
  color: #58a6ff;
  cursor: pointer;
}

.impact-high,
.impact-medium,
.impact-low,
.impact-holiday {
  display: inline-block;
  width: 70px;
  text-align: center;
  padding: 2px 0; /* Reduced vertical padding */
  border-radius: 4px;
  font-weight: bold;
}

.impact-high {
  background-color: #7c1212;
  color: white;
}

.impact-medium {
  background-color: #aa6f00;
  color: white;
}

.impact-low {
  background-color: #8d8b10;
  color: white;
}

.impact-holiday {
  background-color: #9b9b9b;
  color: white;
}

.dataPage-table th,
.dataPage-table td {
  text-align: center;
  vertical-align: middle;
}

.grouped-date {
  background-color: #1f2937;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 12px; /* Slightly reduced font size */
  padding: 6px; /* Reduced padding */
  transition: background-color 0.2s ease-in-out;
}

.grouped-country {
  font-weight: bold;
  text-align: center;
  background-color: #24292e;
  color: #c9d1d9;
  transition: background-color 0.2s ease-in-out;
}

.highlight-date {
  background-color: rgba(88, 166, 255, 0.3) !important;
}
