.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-grow: 1; /* Makes sure the container takes all available space */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.table-container {
  width: 48%; /* Set the width for the Table component */
  box-sizing: border-box;
}

.news-container {
  width: 48%; /* Set the width for the News component */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .table-container,
  .news-container {
    width: 100%;
  }
}
