@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  color-scheme: light dark;
  background-color: #0d1117; /* GitHub dark mode */
  font-family: 'Inter', sans-serif; /* Apply Inter font globally */
  color: #c9d1d9;
}
