.currConvertForm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%; /* Ensures it doesn't stretch too far */
  max-width: 800px; /* Reduced the max-width for better centering */
  height: auto;
  margin: 0 auto; /* Centers the form horizontally */
  padding: 20px;
  margin-top: 5%;
  background-color: #161b22;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.currConvertForm h3 {
  text-align: center;
  font-size: 24px;
  color: #c9d1d9;
  width: 100%;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 48%;
}

.formGroup label {
  font-weight: bold;
  color: #c9d1d9;
  margin-bottom: 5px;
}

.currConvertForm input,
.currConvertForm select {
  padding: 6px 12px;
  font-size: 1em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.convertButton {
  padding: 6px 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.convertButton:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 14px;
}

.result h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.result pre {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  overflow-x: auto;
  font-size: 14px;
}
